<p>
<h1>Make a dictionary</h1>
</p>

<p>
<button type="button" class="btn btn-success"><a id="btn" href="/words/new">Add a new word</a></button>
<button type="button" class="btn btn-info"><a id="btn" href="/words">View word list</a></button>
</p>
